@charset "utf-8";
/* CSS Document */
::selection{
	color:#FFF;
	background:#FEBD01;
	}
::-moz-selection{
	color:#FFF;
	background:#FEBD01;
	}
body::-webkit-scrollbar {
    width: 8px;
}
body::-moz-scrollbar {
    width: 8px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid slategrey;
}
body::-moz-scrollbar-thumb {
  background-color: #000;
  outline: 1px solid slategrey;
}
body{
	font-family: Ubuntu, sans-serif; 
	}

header{
	margin-bottom:75px;
	border-bottom:#666666;
}
/*------------Navigation--------------*/

.navbar{
	background:#fff;
	height:75px;
	}
.navbar-default{
	border:none;
	box-shadow:0px 3px 10px -2px;
	}
.navbar-default .navbar-toggle{
	color:#fff;
	background:#febd01;
	}
.navbar-default .navbar-toggle .icon-bar{
	background:#017BC4;
	}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background:none;
	border-color:#febd01;
	}
.navbar-nav{
	margin-top:15px;
	}
.navbar-default .navbar-nav .active a{
	color:#017BC4;
	background:none;
	border-bottom:solid 3px #fedb01;
	}
.navbar-default .navbar-nav .active a:hover{
	color:#017BC4;
	background:none;
	border-bottom:solid 3px #fedb01;
	}
.navbar-default .navbar-nav li a{
	color:#017BC4;
	margin:0px 5px;
	}
.navbar-default .navbar-nav li a:hover{
	color:#017BC4;
	border-bottom:solid 3px #fedb01;
	transition:all ease-in .2s;
	moz-transition:all ease-in .2s;
	ms-transition:all ease-in .2s;
	o-transition:all ease-in .2s;
	}
.navbar-default .navbar-nav li a .fa{	
	transition:all ease-in .2s;
	moz-transition:all ease-in .2s;
	ms-transition:all ease-in .2s;
	o-transition:all ease-in .2s;
	}
.navbar-default .navbar-nav li a:hover .fa{	
	transition:all ease-in .2s;
	moz-transition:all ease-in .2s;
	ms-transition:all ease-in .2s;
	o-transition:all ease-in .2s;
	
	}
.navbar-default .navbar-nav .dropdown a:focus{
	
	border-bottom:solid 3px #fedb01;
	}
.navbar-default .navbar-nav .dropdown a:focus .fa{
	transition:all ease-in .2s;
	moz-transition:all ease-in .2s;
	ms-transition:all ease-in .2s;
	o-transition:all ease-in .2s;
	
	transform:rotate(-180deg);
	moz-transform:rotate(-180deg);
	ms-transform:rotate(-180deg);
	o-transform:rotate(-180deg);
	}
.navbar-default .navbar-nav .dropdown a{
	color:#017BC4;
	background:none;
	}
.navbar-default .navbar-nav .dropdown a:focus{
	color:#017BC4;
	background:none;
	}
.navbar-default .navbar-nav .dropdown-menu a:hover{
	background:#fedb01;
	border-bottom:none;
	}
.navbar-default .navbar-nav .dropdown .active a{
	color: #017BC4;
	background: none;
	border-radius: 0px;
	}
.navbar-default .navbar-nav .dropdown a:focus,
.navbar-default .navbar-nav .dropdown a:hover{
	color: #017BC4;
	background:none;
	border-bottom:2px solid #fedb01;
	border-radius: 0px;
	}
.navbar-default .navbar-nav .dropdown-menu{
	border:none;
	}
.navbar-default .navbar-nav .dropdown-menu a{
	color:  #017BC4;
	border:none;
	background: #fff;
	}
.navbar-default .navbar-nav .dropdown-menu a:hover{
	color: #017BC4;
	background:#fedb01;
	border:none;
	border-radius: 0px;
	}	

/*----------Page Heading---------*/
.company_head{
	background:url(../img/com_heading.png);
	}
.robotics_head{
	background:url(../img/robo_heading.png);
	}
.mobility_head{
	background:url(../img/mob_heading.png);
	}
.sw_head{
	background:url(../img/sw_heading.png);
	}
.web_head{
	background:url(../img/web_heading.png);
	}
.career_head{
	background:url(../img/car_heading.png);
}
.contact_head{
	background:url(../img/con_heading.png);
	}

/*------Services on index page-----	--*/
.index_content{
	padding-top:10px;
	}
.index_content .col-md-3{
	padding-top:10px;
	padding-bottom:20px;
	}
.index_content .col-md-3:hover {
	color:#fff;
	background:#017BC4;
	transition:all ease-in .3s;
	moz-transition:all ease-in .3s;
	ms-transition:all ease-in .3s;
	o-transition:all ease-in .3s;
	}
.index_content .col-md-3:hover .fa{
	color:#fff;
	}
.index_content .col-md-3:hover a{
	color:#fff;
	}
.index_content h2{
	font-size:24px;
	text-transform:uppercase;
	}
.index_content .fa{
	font-size:50px;
	color:#017BC4;
	}
.index_content a{
	color:#017BC4;
	font-size:18px;
	}
/*-----------Company------------*/
.section_heading{
	padding:25px 0px 17px 0px;
	}
.section_heading h2{
	text-transform:uppercase;
	font-size:28px;
	}
.section_heading .breadcrumb{
	padding-top:30px;
	background:none;
	}
.section_content{
	padding-top:20px;
	padding-bottom:10px;
	}
.section_content .fa{
	color:#017BC4;}
.section_content p{
	line-height:25px;
	}
/*-------Contact Form---------*/
.btn{
	font-size:18px;
	border: solid 2px #fedb01;
	background:none;
	color:#017BC4;
	border-radius:0px;
	}
.btn:hover{
	color:#017BC4;
	background:#fedb01;
	animation:running;
	transition:all ease.3s;
	-webkit-transition:all ease.3s;
	-moz-transition:all ease.3s;
	-ms-transition:all ease.3s;
	-o-transition:all ease.3s;
	}
.btn .fa{}
.btn:hover .fa{
	transition:all ease .5s;
	transform:rotate(360deg);
	}
/*--------Contact Details------------*/
.contact_details .fa{
	font-size:24px;
	color:#017bc4;
	}
.contact_details .fa-home{
	color:#017BC4;
	font-size:20px;
	}
.contact_details .fa-phone{
	color:#017BC4;
	font-size:20px;
	}
.contact_details .fa-envelope{
	color:#017BC4;
	font-size:17px;
	}
.contact_details .fa-globe{
	color:#017BC4;
	font-size:20px;
	}
/*---------------Contact Details in footer---------------*/
.contact_footer .container{
	padding-bottom:20px;
	}
.contact_footer .col-md-3 .fa-home{
	color:#017BC4;
	font-size:20px;
	}
.contact_footer .col-md-3 .fa-phone{
	color:#017BC4;
	font-size:20px;
	}
.contact_footer .col-md-3 .fa-envelope{
	color:#017BC4;
	font-size:17px;
	}
.contact_footer .col-md-3 .fa-globe{
	color:#017BC4;
	font-size:20px;
	}
/*-------------Social-----------*/
.contact_footer{
	background:#dddbdb;
	padding-top:10px;
	}
.contact_footer h4{
	font-size:24px;
	text-transform:uppercase;
	}
.contact_footer .col-md-3 a{
	color:#333333;
	}
.social ul li{
	padding:0px 5px;
	}
.social ul li a{
	display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 0px;
	text-align:center;
    outline: 0;
	padding:10px 0px 0px 0px;
    color: #ff0000;
    background-color: #222;
    -webkit-transition: ease-in .3s;
    -moz-transition: ease-in .3s;
    transition: ease-in .3s;
	}

.social ul .twitter_icon{
    color: #fff;
    background-color: #009CCC;
	}
.social ul .twitter_icon:hover{
    color: #009CCC;
    background-color:#fff;
	outline:solid 3px #009ccc;
	}
.social .facebook{
	color:#fff;
	background-color:#3B5997;
	}
.social .facebook:hover{
	color:#3B5997;
	background-color:#fff;
	outline:solid 3px #3B5997;
	}
.social .google_plus{
	color:#fff;
	background-color:#DD5044;
	}
.social .google_plus:hover{
	color:#DD5044;
	background-color:#fff;
	outline:solid 3px #DD5044;
	}
.social .you_tube{
	color:#fff;
	background-color:#EA3415;
	}
.social .you_tube:hover{
	color:#EA3415;
	background-color:#fff;
	outline:solid 3px #EA3415;
	}
footer{
	padding:10px 0;
	background:#ccc;
	}